/*About Section*/
#intro{
  background-color: #e9e5e5;
  margin-top: 15%;
  
}
#intro p{
  font-family: 'Rubik', sans-serif;
}

#intro ul{
  list-style-type: none;
}

.about-box {
  /*margin-top: %;*/
    /*padding: 10px;*/
    background-color: #e9e5e5;
    text-align: center;
}

.h2-aboutme{
    border-bottom: 1px dashed;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 25px;
    color: #2c3e50;
    font-family: 'Pacifico', cursive;
}
/*.h3-aboutme{
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 27px;
    margin-bottom: 25px;
    color: #2c3e50;
    font-family: 'Pacifico', cursive;
}*/
/*#right-col p{
  font-size: 18px;
  text-align: center;
}*/


/*
#aboutMe-skills span {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        display: inline!important;
        margin: 12px 6px;
        padding: 2px 2px;
        background: #CBC8C8;
        font-size: 1.2em;
        width: 100%;
        border-radius: 2px;
    }
*/

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 2em 1em;
  padding: 0.8em 2em;
  text-transform: inherit;
  transition: color 1s;
  display:inline-block;
}

.btn-5 {
  color: #2c3e50;
}
.btn-5:hover {
  animation: blinds 0.75s linear forwards;
  background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #7ca3dd 50%, transparent 50%) 0 0/1em 1em;
  color: #2c3e50;
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }

}


img {
    position: relative;
    margin-bottom: 2em;
    height: 140px;
    width: 125px;
}

.chart li {
  border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
  box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; /* Remember vendor prefixes */
  display: block;
  height: 380px;
  padding: 30px 0;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.chart .axis { 
  display: none;
  top: 2px;
  width: 15%;
 }

.chart .label {
  background: #eaeaea;
  margin: -.6em 0 65px 0;
}

.chart .percent {
  font-size: 30px;
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
}

.chart .teal {
background: #4ecdc4;
background-image: linear-gradient(#76d8d1, #4ecdc4 70%);
border: 1px solid #4ecdc4;
}

.chart .salmon {
background: #FA8072;
background-image: linear-gradient(#d89976, #FA8072 70%);
border: 1px solid #FA8072;
}

.chart .peach {
background: #FFE5B4;
background-image: linear-gradient(#ffe9b3, #FFE5B4 70%);
border: 1px solid #FFE5B4 ;
}

.chart .lime {
background:  #bfff00;
background-image: linear-gradient(#ffff00,  #bfff00 70%);
border: 1px solid  #bfff00 ;
}

.chart .grape {
background: #ab64f4;
background-image: linear-gradient(#ab64f4,  #ab64f4 70%);
border: 1px solid  #ab64f4 ;
}

.chart span { font-size: 30px;  }


.chart .skill {
    bottom: 20px;
    font-size: 16px;
  }


  
@media (min-width: 768px) {
  .chart {
    height: 380px;
  }
  .chart li {
    display: inline-block;
    /*height: 425px;*/
    margin: 0 1.8% 0 0;
    width: 13%;
  }
  .chart .axis {
    display: inline-block;
  }
  .chart .percent {
    opacity: 0.3;
    position: absolute;
    font-size: 35px;
  }
  .chart .skill {
    bottom: 20px;
    font-size: 16px;
    position: absolute;
  }

  img{
    height: 150px;
    width: 130px;
  }

}

@media (max-width: 375px) {
  .chart {
    height: 250px;
  }
  .chart li {
    display: inline-block;
    /*height: 425px;*/
    margin: 0 1% 0 0;
    width: 17%;
  }
  .chart .axis {
    display: none;
  }
  .chart .percent {
    opacity: 0.3;
    position: absolute;
    font-size: 20px;
  }

  .chart .percent span {
    font-size: 22px;
  }
  .chart .skill {
    bottom: 20px;
    font-size: 7px;
    font-weight: bold;
    position: absolute;
    text-orientation: sideways-right;
  }

  img{
    height: 10px;
    width: 10px;
  }

  .container{
  padding-top: 35%;
}

}

@media (min-width: 1000px) {
  .chart .percent {
    font-size: 60px;
  }

}


.gallery a {
  display: flex;
  flex-direction: row;
  justify-content: center;
    margin-right: 2em;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 7px;
    border-radius: 5px;
}

@media (max-width: 1200px) {

  img {
      position: relative;
      margin-bottom: 2em;
      height: 130px;
      width: 110px;
  }

}