/* TIMELINE */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

#timeline {
   /*margin: 15% 0 0 0;*/
   padding: 10px 0;
   font-family: 'Roboto', sans-serif;
   background-color: #e9e5e5; 
   text-align: center;
}

h2 {
   border-bottom: 1px dashed;
   padding-top: 10%;
   padding-bottom: 30px;
   display: inline-block;
   font-size: 45px;
   margin-bottom: 25px;
   color: #2c3e50;
   font-family: 'Pacifico', cursive;
   text-align: center;
}



#timeline .main-block {
   width: 90%;
   max-width: 1200px;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

#timeline .main-block:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}


.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 1;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: black;
}


.timeline-content:hover {
  
   background-color: #dcd6d6;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 23px;
   font-weight: 500;
   color: #2c3e50;
}

.timeline-content span {
   font-size: 26px;
   color: black;
   font-weight: bold;
   color: #2c3e50;
   text-shadow: 1px 1px #2c3e50;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: black;
}


@media screen and (max-width: 768px) {
   #timeline .main-block:before {
      left: 8px;
      width: 2px;
      height: 1000px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }


   #timeline .main-block:before {
   height: 100%;
   background: #CCD1D9;
   z-index: 1
   }

   h2{
      padding-top: 30%;
      padding-bottom: 0;
   }

}

@media screen and (max-width: 375px){
   #timeline {
      margin-top: 20%;
   }
}