/*PROJECTS*/

.h2-projects{
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 25px;
    color: #2c3e50;
    font-family: 'Pacifico', cursive;
}

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid $border;
    text-align: center;
    background-color: #e9e5e5; 

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.shadow-large {
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image img {
    margin-top: 15px;
    height: 350px;
    border-radius: 5px;
}

.project-info a{
  margin-bottom: 15px;
}

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  padding: 0.5em 2em;
  text-transform: inherit;
  transition: color 1s;
}

.btn-5 {
  color: #2c3e50;
}
.btn-5:hover {
  animation: blinds 0.75s linear forwards;
  background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #7ca3dd 50%, transparent 50%) 0 0/1em 1em;
  color: #2c3e50;
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }

}

@media screen and (max-width: 600px){
  .btn-5 {
  color: #2c3e50;
  }
  .btn-5:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #7ca3dd 50%, transparent 50%) 0 0/1em 1em;
    color: #2c3e50;
  }

  @keyframes blinds {
    100% {
      background-position: 0 0, 0 -3em;
      background-size: 0 0, 1em 6em;
    }

  }
}





