

/**, ::after, ::before {
    box-sizing: border-box;
}*/

/*.container{
  margin-top: 5%;
}*/
.h2-projects{
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 25px;
    color: #2c3e50;
    font-family: 'Pacifico', cursive;
}
body{
  background-color: #e9e5e5;
}
    /*NAV BAR*/

.navbar{
  background-color: #2c3e50; 
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.navbar-brand{
  text-align: center;
  font-size: 2.5em;
  color: white;
  margin-top: 0.3em;


}

#navbarCollapse{
  justify-content: center;
}

#navbarCollapse .nav-item{
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.5em;
  padding:0 1.4em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

#navbarCollapse .nav-item:hover{
  background:#2c3e50;
  color:#f7f43b;
}

#navbarCollapse .nav-item a:hover{
  font-weight: bold;
}
#navbarCollapse .nav-item:before, #navbarCollapse .nav-item:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:#f7f43b;
  transition:400ms ease all;
}
#navbarCollapse .nav-item:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#navbarCollapse .nav-item:hover:before, #navbarCollapse .nav-item:hover:after{
  width:100%;
  transition:800ms ease all;
}

 
    /* Main Intro - HEADER*/
#main-content {
  margin-top: 12%;
  padding-bottom: 120px;
  background-color: #e9e5e5; 
  /*height: auto;*/

}
#main-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Pacifico', cursive;
    font-weight: bold; 
    font-color: #2c3e50;
  }
#main-content h3 {
    font-size: 1.3rem;
    font-family: 'Lato';
    font-color: #2c3e50; 
  }



/* cirlce-button style */
.circle{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  font-size: 25px;
  font-family: Helvetica, Arial Black, sans;
  line-height: 160px;
  text-align: center;
  margin: 10px;
  transition: transform 0.8s;

}
 .circle a{
  text-decoration: none;
  color: black;
 }

#about-me{
    background-color: #F25F5C;
    
}

.circle:hover{
    transform: scale(1.2);
}

.circle:hover a{
    font-weight: bold;
}

#experience{
    background-color: #E8CC5D;
}

#skills{
    background-color: #4B8178;
}


.nav-menu{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-thumbnail{
    border-radius: 50%;
    width: 450px;
    height: 450px;
}



@media screen and (max-width: 992px){
  #main-content h1{
      font-size: 3rem;
      text-align: center;
      margin-top: 2rem;

    }
  #main-content h2{
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  #main-content h3 {
      font-size: 0.5rem;
    }
  .circle{
      height: 130px;
      width: 130px;
      border-radius: 50%;
      font-size: 15px;
      font-family: Helvetica, Arial Black, sans;
      line-height: 130px;
      text-align: center;
      margin: 10px;  
    }

  .nav-menu{
     justify-content: center;
  }

}
  




@media screen and (max-width: 375px){
  #main-content {
    margin-top: 40%;
  }
  #main-content h1{
      font-size: 2rem;
      text-align: center;
      margin-top: 0.5rem;

    }
  #main-content h2{
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  #main-content h3 {
      font-size: 0.3rem;
    }
  .circle{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      font-size: 15px;
      font-family: Helvetica, Arial Black, sans;
      line-height: 130px;
      text-align: center;
      margin: 10px;  
    }

  .nav-menu{
     justify-content: center;
  }

  .img-thumbnail {
    width: 250px;
    height: 250px;
  }
}

  

  

/*Wasteless app*/
#wasteless{
  margin-top: 50px;
  margin-bottom: 50px;

}
.wasteless-image{
  width: 100%;
  height: auto;
}

/* Contact Info*/

footer {
  background-color: #2c3e50;
  width: 100%;
  bottom: 0;
}

#contact-info{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;

}

.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.block {
    text-align: center;
    color: white;
    padding: 2em;
    margin: 0 3.1em;
}

footer h5, p{
    margin: 0;
    padding: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 992px){

  .icon {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
  }

  .block {
    margin: 0.5em;
  }
  .block p, .block h5{
    display: none;
  }

  .block p{
    font-weight: bold;
  }
  

  footer h4, footer p{
    size: 5px;
  }
}

@media screen and (max-width: 600px){
  .block{
    margin: 0.05em;
  }

  .circle{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      font-size: 12px;
      font-family: Helvetica, Arial Black, sans;
      line-height: 100px;
      text-align: center;
      margin: 7px;  
    }
}


/*HANGMAN STYLE*/

.h2-hangman{
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
    color: #2c3e50;
    font-family: 'Pacifico', cursive;
}

#title {
  text-align: center;
}
input.error {
  border: 2px solid #da5754;
}

span.error {
  color: #da5754;
}

.remaining-guesses {
  padding-top: 30px;
  font-size: 1.5em;
}


input[type='text'] {
  height: 2.2em;
  font-size: 2em;
  width: 80px;
  text-align: center;
  padding: 10px;
}

button {
  /*padding: 10px;*/
  /*margin: 10px;*/
  border: none;
  font-size: 1.4em;
  text-align: center;
}

.correct {
  color: '#08a932';
}

.wrong {
  color: #da5754;
}

.attempts {
  font-size: 2em;
  margin-top: 30px;
  min-height: 50px;
}

#new-game {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
}

.attempts span:not(:last-child):after {
  color: black;
  content: ", ";
}

.console {
  width: 200px;
  margin: 100px auto 50px;
}

.hangman-word {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #b5b5b5;
}

