html {
   background-color: #DAE9EF; 
   position: relative;
}
/* Header */
.main-header {
	background-color: #DAE9EF;
    padding-top: 30px;
    padding-bottom: 50px;
}
.header-nav-menu ul{
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;
    display: inline;
    color: #F25F5C;
    padding-top: 70px;
    font-size: 15px;
    margin-top: 70px;
}
.header.nav-menu {
    padding-top: 70px;
    margin-top: 70px;
    position: relative;
}

.title-h1, .title-h3 {
    text-align: center;
    position: relative;
}

/* Main Intro */
#main-intro {
    background-color: #DAE9EF;
}
.circular--landscape {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 40px;
}

.circular--landscape img {
  width: auto;
  height: 150%;
  margin-left: -50px;
}

    /* cirlce-button style */
.circle{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 30px 20px 30px 20px;
    position: relative;
}
.circle a{
    text-decoration: none;
    color: white;
    position: absolute;
    text-align: center;
}

#about-me{
    background-color: #F25F5C;
}
#experience{
    background-color: #FFE066;

}
#skills{
    background-color: #4B8178;
}

.h1-aboutMe{
    margin-left: 25px;
}
.nav-menu ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    display: inline;
    margin: 10px 10px;
    padding: 10px 20px;
}
.nav-menu li a {
    text-decoration: none;
    display: inline;
    padding: 30px 20px;
    font-size: 20px;
    margin: 30px 10px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    vertical-align: bottom;
}
.nav-menu li {
    float: left;
}

/* Contact Info*/

footer {
    background-color: #FFE88F
    width: 1700px;
    position: absolute;
    left: 0px;
    height: 150px;
    top: 700px;
}

.contact-info{
    position: absolute;
    background-color: #FFE88F;
    width: 1700px;
    position: absolute;
    padding-top: 15px ;
    height: 140px;


}
.icon {
    height: 45px;
    width: 45px;
    position: relative;
}

/